.block
  %h2 About
  .content
    %h3 Soxer
    %p The simplest and most flexible web publishing solution on the planet.
    %p This is my first generic blog. You are welcome to poke around my source.
